.item-container{
    display: flex;
    padding: 5% 2%;
}
.mt-2{
    margin-top: 20px;
}
.card{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0 10px;
    cursor: pointer;
}
.card span{
    display: flex;
    justify-content: space-between;
}
.card:first-of-type{
    margin-bottom: 5px;
}
.column1{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
.column1 img{
    height: 450px;
    width: 70%;
    object-fit: cover;
}
.column2{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: space-between;
}
.column2 #description{
    font-weight: bold;
    font-size: 3rem;
}
.column2 div{
    display: flex;
    flex-direction: column;
}
.column2 button{
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.price{
    font-size: 30px;
}
.spinner{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}